<div class="card">
  <div class="card-body">
    <h5 class="card-title">Trivia Quiz Game</h5>
    <p class="card-text">Welcome to Trivia Quiz Game
    You can play game online.
    </p>
    <%= link_to "Create Category", categories_path , class: "btn btn-primary"  %>
    <%= link_to "Create question", questions_path , class: "btn btn-primary"  %>
    <%= link_to "Create Game", quiz_rooms_path , class: "btn btn-primary"  %>
    <%= link_to "Join Game", playgames_path , class: "btn btn-primary"  %>
  </div>
</div>